# ========== CMake ========== #
build/
out/
/build/
bin/
*.o
*.exe
*.out
*.cmake
*.vcxproj
*.filters

# ========== Сгенерированные бинарники ========== #
*.exe
*.a
*.so
*.dll
*.lib

# ========== Игнорировать временные файлы ========== #
*.tmp
*.log
*.swp

# ========== Игнорировать файлы IDE ========== #
/.idea/
/.vscode/
/*.sublime-workspace
/*.sublime-project

# ========== Игнорировать файлы системы ========== #
.DS_Store
Thumbs.db

# ========== Игнорировать зависимости ========== #
*.dSYM
*.class
*.jar

lib/

# ========== macOS ========== #
.DS_Store
__MACOSX/

# ========== Windows ========== #
Thumbs.db